@import url('https://fonts.googleapis.com/css?family=Nunito');
*{
    font-family: 'Nunito', 'sans-serif';
    color: white;
}

.front-end{
    width: 40%;
    height: 25%;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50% -50%);
}

html{
    background-image: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-602625.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.blurred-back{
    width: 100%;
    height: 100%;
    padding: 13% 8%;
    background-color: rgb(97, 97, 97);
    opacity: 1;
    background: url('https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-602625.jpg');
    background-position-y: -68%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    filter: blur(13px);
}

.form-url{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50% -50%);
}

input[type=text]{
    height: 30px;
    width: 100%;
    float: left;
    position: relative;
    right:70%;
    padding-left: 30%;
    padding-right: 20%;
    color: black;
}

.send{
    position: relative;
    right: -39%;
    height: 33px;
    top: -34.7px;
    margin-top:1px;
    background-color: #2C82C9;
    border: 2px solid #2C82C9;

}

em{
    font-family: 'Console', monospace;
    color: red;
    padding: 0 0.5rem;
}

p{
    font-size: 14px;
    padding-left: 1.8rem;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 1rem 2rem;
}

.left{
    float: left;
}

.right{
    float: right;
}

.medium{
    font-size: 2rem;
}